.mainBlock {

    margin: 0px auto;
    padding: 15px;
    width: 80%;
    height: fit-content;

    display: flex;

    flex-flow: column;
    gap: 10px;
    align-items: center;

}

.mainBlock div > h2 {
    width: fit-content;
}

.mainBlock div > img {
    width: 950px;
}

.mainBlock hr {
    width: 80%;
    border: none;
    border-top: 3px double #333;
}

.mainBlock > div{
    width: fit-content;
}


