{% extends 'includes/includeMain.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssStyles %}
    <link rel="stylesheet" href="{% static 'main/css/mainAbout.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/header.css' %}">
{% endblock %}


{% block mainContent %}

    {% include 'includes/includeHeader.html' %}

    <div class="mainBlock">
        <div>
            <h2>Огляд Лінгвістичного ресторану</h2>
            <p>Лінгвістичний ресторан – унікальна концепція, яка поєднує в собі і мову, і їжу. Тематика ресторану зосереджена навколо ідеї вивчення різних культур через мову та кухню. Сама назва «Лінгвістичний» говорить про орієнтацію закладу на мову та культуру. Метою ресторану є створення затишного середовища, де люди можуть збиратися разом, щоб насолодитися смачною їжею, а також вивчати різні культури та мови. Концепція Linguistic унікальна в своєму роді, і вона обов’язково сподобається тим, хто зацікавлений у дослідженні нових культур і спробуванні нової їжі.</p>
            <p>Меню ресторану Linguistic пропонує широкий вибір страв різних культур, включаючи італійську, французьку, іспанську та азіатську кухню. Керують кухнею досвідчені кухарі, які використовують лише найсвіжіші інгредієнти для створення смачних та автентичних страв. Меню ретельно розроблено, щоб задовольнити різні смаки та вподобання, доступні веганські та безглютенові варіанти. Ресторан також пропонує широкий вибір напоїв, включаючи коктейлі, вина та пиво, які доповнюють їжу. Поєднання різних кухонь і смаків робить ресторан Linguistic обов'язковим для відвідування любителями їжі.</p>
            <p>Атмосфера та декор ресторану Linguistic покликані створити затишну та гостинну атмосферу. Інтер'єр ресторану прикрашений елементами, що відображають різні культури та мови, такими як книги, карти та твори мистецтва. Освітлення тепле та привабливе, що створює комфортну та розслаблюючу атмосферу. Зручні місця для сидіння, а персонал привітний і уважний, що гарантує приємні враження від обіду. Загальна атмосфера ресторану Linguistic ідеально підходить для романтичної вечері, сімейних посиденьок або вечірнього відпочинку з друзями.</p>
        </div>

        <div>
            <h2>Унікальні особливості та клієнтський досвід у Linguistic</h2>
            <p>Ресторан Linguistic може похвалитися унікальним клієнтським досвідом завдяки багатомовному персоналу та можливостям вивчення мови. У ресторані працюють співробітники, які вільно володіють різними мовами, такими як англійська, іспанська, французька та італійська. Це дозволяє клієнтам практикувати свої мовні навички, насолоджуючись їжею, що робить Linguistic ідеальним місцем для любителів мови та мандрівників. Персонал завжди радий спілкуватися з клієнтами, роблячи обід більш інтерактивним і приємним. Крім того, Linguistic пропонує мовні заняття та семінари для тих, хто зацікавлений у вивченні нової мови або вдосконаленні своїх навичок. Це додає освітній аспект до обіду, роблячи Linguistic єдиним у своєму роді рестораном.</p>
            <p>У Linguistic гості можуть насолодитися інтерактивним обідом або вечерею. Ресторан пропонує інтерактивний обідній сервіс, який дозволяє клієнтам самостійно готувати їжу за своїм столом. Ця унікальна концепція ідеально підходить для тих, хто хоче спробувати щось інше або насолодитися веселою та цікавою трапезою з друзями чи родиною. В інтерактивному обідньому сервісі доступні різноманітні страви, включно з гарячим горщиком, корейським шашликом і японським шабу-сябу. У ресторані є все необхідне обладнання та інгредієнти, що робить процес безпроблемним і приємним.</p>
            <p>Linguistic також пропонує культурні заходи та майстер-класи, такі як уроки танців, майстер-класи з малювання та культурні виступи. Ці заходи спрямовані на те, щоб занурити клієнтів у різні культури та забезпечити унікальні враження від обіду. Наприклад, клієнти можуть відвідати заняття з сальси, а потім смачну латиноамериканську їжу. У ресторані також проводяться культурні заходи, такі як традиційні китайські танці левів або японська гра на барабанах тайко. Ці події доповнюють загальну атмосферу ресторану та забезпечують відвідувачам незабутні враження від вечері. Загалом, Linguistic — це більше, ніж просто ресторан; це культурний центр, який пропонує унікальні та незабутні враження від клієнтів.</p>
        </div>

    </div>


{% endblock %}

