{% extends 'includes/includeMain.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssStyles %}
    <link rel="stylesheet" href="{% static 'tables/css/confirmation.css' %}">
    <link rel="stylesheet" href="{% static 'includes/css/header.css' %}">
{% endblock %}


{% block mainContent %}

    {% include 'includes/includeHeader.html' %}

    <div class="mainBlock">

        {% if user.is_authenticated %}
            {% if messages %}
                {% for message in messages%}
                    {{ message }}
                {% endfor %}
            {% endif %}
            <div>
                <p>Ваше замовлення:</p>
                <br>
                <div>Дата: {{ data.date }}</div>

                <p>Обрані столики:
                <br>

                {% for selected in data.selected_tables %}
                    {% if forloop.last %}
                        {{ selected }}
                    {% else %}
                        {{ selected }},
                    {% endif %}
                {% endfor %}
                </p>

                <form method="post">
                    {% csrf_token %}
                    <input type="submit" name="confirm" value="Замовити">
                    <input type="submit" name="confirm" value="Назад">
                </form>
            </div>

        {% else %}
            <div>
                <h1>Ви не можете замовити стіл. Авторизуйтесь для замовлення.</h1>
            </div>
        {% endif %}

    </div>


{% endblock %}

